@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.figure-group {
    position: absolute;
}

.container {
    position: absolute;
    z-index: 1;
}

.info {
    font-weight: 400;
}

.mail_icon {
    height: auto;
    position: absolute;
    left: 9.45vw;
    top: 4.2vh;
}

.mail {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    left: 11.8vw;
    top: 3.5vh;
    color: rgb(255, 255, 255);
}

.phone_icon {
    height: auto;
    position: absolute;
    left: 25.5vw;
    top: 4.2vh;
}

.phone {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    letter-spacing: 0px;
    position: absolute;
    left: 27.8vw;
    top: 3.5vh;
    color: rgb(255, 255, 255);
}

.socials_icons {
    height: auto;
    position: relative;
    left: 78.95vw;
    top: 4vh;
}

.rectangle1 {
    position: absolute;
    left: 43vw;
    top: 6vh;
    width: 14vw;
    height: 9.5vh;
    background-color: #fdfdfd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 1px 10px 0px;
}

.rectangle2 {
    position: absolute;
    left: 9vw;
    top: 8vh;
    width: 82vw;
    height: 6vh;
    background-color: #fdfdfd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 1;
}

.home {
    font-size: 20px;
}

.nav-menu {
    margin-top: 7.5vh;
    margin-left: 12.5vw;
    position: relative;
    z-index: 2;
}

.nav-inner {
    display: flex;
    justify-content: center; /* центрирует */
    gap: 26vw; /* расстояние между группами */
    align-items: center;
}

.nav-inner ul {
    list-style: none;
    display: flex;
    gap: 3vw; /* расстояние между пунктами */
    padding: 0;
    margin: 0;
}

.nav-inner ul li a {
    color: #000;
    text-decoration: none;
}

.nav-inner ul li:not(.active):not(.btn) a:hover {
    border-bottom: 1px solid #5956e9;
    color: #5956e9;
}

.nav-inner ul li.active a {
    border-bottom: 1px solid #5956e9;
    color: #5956e9;
}

.nav-inner ul li.btn a {
    background: #5956e9;
    padding: 14px 6px;
    color:#fdfdfd;
    border-radius: 5px;
}

.home_title {
    position: absolute;
    z-index: 1;
    top: 23vh;
    left: 50%;
    color: rgb(255, 255, 255);
    font-size: 48.83px;
    line-height: 63.48px;
}

.home_des {
    position: absolute;
    z-index: 1;
    top: 31.4vh;
    left: 53%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.blog_left1 {
    position: absolute;
    top: 53vh;
    left: 8.7vw;
    width: 55%;
    height: 650px;
}

.blog_left1_title {
    position: absolute;
    top: 38vh;
    left: 1%;
    font-size: 39.06px;
    line-height: 58.5px;
    color: rgb(35, 34, 51);
    text-align: left;
}

.blog_left1_des {
    position: absolute;
    top: 52vh;
    left: 1%;
    font-size: 16px;
    line-height: 24px;
    color: rgb(108, 108, 114);
    text-align: left;
    font-weight: 400;
    width: 97%;
}

.blog_left1 a {
    position: absolute;
    top: 65vh;
    left: 1%;
    font-size: 20px;
    line-height: 20px;
    color: rgb(89, 86, 233);
    text-align: left;
    border-bottom: 1px solid #5956e9;
}

.blog_left2 {
    position: absolute;
    top: 125vh;
    left: 8.7vw;
    width: 55%;
    height: 650px;
}

.blog_left2_title {
    position: absolute;
    top: 38vh;
    left: 1%;
    font-size: 39.06px;
    line-height: 58.5px;
    color: rgb(35, 34, 51);
    text-align: left;
}

.blog_left2_des {
    position: absolute;
    top: 52vh;
    left: 1%;
    font-size: 16px;
    line-height: 24px;
    color: rgb(108, 108, 114);
    text-align: left;
    font-weight: 400;
    width: 97%;
}

.blog_left2 a {
    position: absolute;
    top: 65vh;
    left: 1%;
    font-size: 20px;
    line-height: 20px;
    color: rgb(89, 86, 233);
    text-align: left;
    border-bottom: 1px solid #5956e9;
}

.blog_left3 {
    position: absolute;
    top: 197vh;
    left: 8.7vw;
    width: 55%;
    height: 650px;
}

.blog_left3_title {
    position: absolute;
    top: 38vh;
    left: 1%;
    font-size: 39.06px;
    line-height: 58.5px;
    color: rgb(35, 34, 51);
    text-align: left;
}

.blog_left3_des {
    position: absolute;
    top: 52vh;
    left: 1%;
    font-size: 16px;
    line-height: 24px;
    color: rgb(108, 108, 114);
    text-align: left;
    font-weight: 400;
    width: 97%;
}

.blog_left3 a {
    position: absolute;
    top: 65vh;
    left: 1%;
    font-size: 20px;
    line-height: 20px;
    color: rgb(89, 86, 233);
    text-align: left;
    border-bottom: 1px solid #5956e9;
}

.blog_left4 {
    position: absolute;
    top: 269vh;
    left: 8.7vw;
    width: 55%;
    height: 650px;
}

.blog_left4_title {
    position: absolute;
    top: 38vh;
    left: 1%;
    font-size: 39.06px;
    line-height: 58.5px;
    color: rgb(35, 34, 51);
    text-align: left;
}

.blog_left4_des {
    position: absolute;
    top: 58vh;
    left: 1%;
    font-size: 16px;
    line-height: 24px;
    color: rgb(108, 108, 114);
    text-align: left;
    font-weight: 400;
    width: 97%;
}

.blog_left4 a {
    position: absolute;
    top: 72vh;
    left: 1%;
    font-size: 20px;
    line-height: 20px;
    color: rgb(89, 86, 233);
    text-align: left;
    border-bottom: 1px solid #5956e9;
}

.blog_left5 {
    position: absolute;
    top: 350vh;
    left: 8.7vw;
    width: 55%;
    height: 650px;
}

.blog_left5_title {
    position: absolute;
    top: 38vh;
    left: 1%;
    font-size: 39.06px;
    line-height: 58.5px;
    color: rgb(35, 34, 51);
    text-align: left;
}

.blog_left5_des {
    position: absolute;
    top: 52vh;
    left: 1%;
    font-size: 16px;
    line-height: 24px;
    color: rgb(108, 108, 114);
    text-align: left;
    font-weight: 400;
    width: 97%;
}

.blog_left5 a {
    position: absolute;
    top: 65vh;
    left: 1%;
    font-size: 20px;
    line-height: 20px;
    color: rgb(89, 86, 233);
    text-align: left;
    border-bottom: 1px solid #5956e9;
}

.blog_right {
    position: absolute;
    top: 54vh;
    right: 9%;
    width: 26%;
    height: 2300px;
}

.search_form {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 10px 14px;
    margin-bottom: 30px;
    background-color: white;
    height: 40px;
    width: 340px;
}

.search_form input {
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    flex: 1;
    color: #333;
}

.search_form input::placeholder {
    color: rgb(108, 108, 114);
}

.search_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal_line {
    display: flex;
    margin-top: 11%;
    width: 100%;
    height: 0.8px;
    background-color: rgb(0, 0, 0);
}

.recent_posts {
    margin-top: 4vh;
    color: rgb(35, 34, 51);
    font-size: 31.25px;
    line-height: 47.25px;
    font-weight: 800;
}

.recent1_des {
    color: rgb(35, 34, 51);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 45px;
}

.blog_right img {
    margin-left: -1vh;
}

.blog_right ul {
    font-size: 20px;
    line-height: 30px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    list-style: none;
    padding-left: 0;
}

.blog_right ul li {
    position: relative;
    padding-left: 33px;
}

.blog_right ul li::before {
    content: "\25B6";
    font-size: 10px;
    color: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.blog_right ul a {
    color: rgb(108, 108, 114);
}

.blog_right ul a:hover {
    border-bottom: 1px solid #5956e9;
    color: #5956e9;
}

.tags {
    font-size: 20px;
    margin-right: 6%;
}

.tags_ref {
    color: rgb(35, 34, 51);
    border-bottom: 1px solid rgb(35, 34, 51);
}

.tags_ref:hover {
    color: #5956e9;
    border-bottom: 1px solid #5956e9;
}

.blog_left_horizontal_line {
    position: absolute;
    top: 425vh;
    left: 9%;
    width: 50%;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

.pages_counter {
    position: absolute;
    top: 430vh;
    left: 29%;
    width: 13%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.page_number {
    text-decoration: none;
    font-size: 24px;
    color: rgb(108, 108, 114);
}

.page_number:hover {
    color: #5956e9;
    border-bottom: 1px solid #5956e9;
}

.page_number.active {
    color: #5956e9;
    border-bottom: 1px solid #5956e9;
}

.footer_rect {
    position: absolute;
    width: 100%;
    height: 400px;
    background: rgb(35, 34, 51);
    border-radius: 0px;
    top: 450vh;
    z-index: 0;
}

.footer_logo {
    list-style: none;
}

.footer_logo_title {
    position: absolute;
    top: 12vh;
    left: 9.5vw;
    font-size: 31.25px;
    line-height: 47.25px;
    color: rgb(255, 255, 255);
}

.footer_logo_des {
    position: absolute;
    top: 17vh;
    left: 9.5vw;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 330px;
    font-weight: 400;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style: none;
    margin-top: 12vh;
    margin-left: 37.2vw;
    z-index: 1;
    color: rgb(255, 255, 255);
}

.footer_links_title {
    font-size: 25px;
    line-height: 37.5px;
}

.footer_links a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.footer_links a:hover {
    border-bottom: 1px solid #5956e9;
    color: #5956e9;
}

.footer_letters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-top: -18.5vh;
    margin-left: 65vw;
    z-index: 1;
    color: rgb(255, 255, 255);
}

.footer_letters_title {
    font-size: 25px;
    line-height: 37.5px;
}

.footer_letters_des {
    width: 70%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.newsletter_form {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 2px;
    width: 360px;
}

.newsletter_form input[type="email"] {
    border: none;
    outline: none;
    padding: 10px;
    flex-grow: 1;
    font-size: 16px;
    color: rgb(108, 108, 114);
    border-radius: 4px;
}

.newsletter_form input::placeholder {
    color: rgb(108, 108, 114);
}

.newsletter_form button {
    background-color: #5956e9;
    border: none;
    padding: 10px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_line {
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 80%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.footer_copyright {
    position: absolute;
    bottom: 2%;
    left: 40%;
    color:#ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}